img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: rgba(35, 218, 218, 0.596);
}

h5,
p,
h3 {
    text-align: center;
}

h3 {
    background-color: rgba(127, 255, 212, 0.541);
}

h1,
h3,
h5,
p,
ul,
ol {
    font-family: 'Courier New', Courier, monospace;
}